.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Start {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Start input {
  width: 500px;
  height: 50px;
  margin: 5px;
  border: none;
  background-color: white;
  border-radius: 25px;
  font-size: 20px;
}
.Menu {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: none;
  background-color: #b2beb5;
  border-radius: 100px;
  font-size: 20px;
}

button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  background-color: #b2beb5;
  border-radius: 25px;
  font-size: 20px;
}

button:disabled {
  background-color: silver;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Start,
.Menu,
.Quiz,
.End h1,
h2 {
  color: white;
}

.End {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
